<!DOCTYPE html>
<html>

<head>
	<title>verify</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<link rel="stylesheet" href="./css/main.css">
	<script type="text/javascript">
		$(document).ready(function () {
			$("#verifyotp").submit(function (event) {
				event.preventDefault();
				$.ajax({
					type: 'POST',
					url: '/mobile/verify',
					data: $('#verifyotp').serialize(),
					dataType: "json",
					success: function (response) {
						console.log(response);
					},
					error: function () {}
				})
			});
			$("#sendotp").submit(function (event) {
				event.preventDefault();
				$.ajax({
					type: 'POST',
					url: '/mobile/register',
					data: $('#sendotp').serialize(),
					dataType: "json",
					success: function (response) {
						console.log(response);
					},
					error: function () {}
				})
			});
		});
	</script>
</head>

<body>
	<div class="form-group">
		<form id="sendotp" method="post">
			<input name="number" required="" type="tel" placeholder="7042249079" />
			<input type="submit" value="Send OTP" class="btn btn-success" />
		</form>
	</div>
	<div class="form-group"></div>
	<form id="verifyotp" method="post">
		<input name="pin" required="" type="number" placeholder="1234" />
		<input name="requestId" type="hidden" value="" requestId %>" >
		<input type="submit" value="Verify PIN" class="btn btn-success" />
	</form>
	</div>
</body>

</html>